# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.whl
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/
build/
dist/
htmlcov/
.coverage
.venv/
.env
.env.*
.python-version

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
_code_playground
notebooks/data/
codex.md
